/* ========================================================================
   #COLUMNS
   ======================================================================== */

/**
 * Utility to apply multi-column for the Inuitcss framework.
 *
 * It generate helper clasess, e.g.:
 * .u-columns-2
 * .u-columns-3
 * .u-columns-4
 *
 * By default, it apply half of columns count on tablets and below. You
 * can change this below. Depends on Sass-mq.
 *
 * By default, it apply simple columns until mobile. You
 * can change this below. Depends on Sass-mq.
 *
 * TODO: REVISAR DOC-COMMENTS SOBRE ESPACIADOS
 *
 * If we’re using Sass-MQ, automatically generate responsive helpers for each of our
 * defined breakpoints, and give them a Responsive Suffix, e.g.:
 *
 * .u-columns-2@mobile
 * .u-columns-3@tablet
 */


// A list of columns count that get generated as helper classes.

 $inuit-columns-count-list: (
        2,
        3,
        4,
        6
 ) !default;


// The utility apply half of columns count on tablets and below. If you desire more
// control you can set it to false.
// Depends on Sass-mq.

$inuit-columns-half-of-columns-count-on-tablet: true;


// For the function 'apply half of columns count on tablets': type of Sass round:
// ceil (rounds a number up to the next whole number) or
// floor (rounds a number down to the previous whole number).

$inuit-columns-count-decrease-round-type: ceil;


// The utility apply simple column until mobile. If you desire more
// control you can set it to false.
// Depends on Sass-mq.

$inuit-columns-simple-column-until-mobile: true;


// Widths of gaps modifiers
// TODO: use Inuitcss spacing variables if they exist

$inuit-columns-gap-tiny:   5px !default;
$inuit-columns-gap-small:  10px !default;
$inuit-columns-gap-normal: 20px !default;
$inuit-columns-gap-large:  40px !default;
$inuit-columns-gap-huge:   60px !default;

// Optionally we can use the Inuitcss global spacing units

$inuit-columns-activate-inuit-global-spacing-unit: false;
